<app-nav-toolbar></app-nav-toolbar>
<mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChange($event)">
    <mat-tab label="Bloque">
        <app-block></app-block>
    </mat-tab>
    <mat-tab label="Mesa">
        <app-stand></app-stand>
    </mat-tab>
    <mat-tab label="Producto">
        <app-products></app-products>
    </mat-tab>
    <mat-tab label="Puesto de Trabajo">
        <app-workpoint></app-workpoint>
    </mat-tab>
    <mat-tab label="Empleado">
        <app-employees></app-employees>
    </mat-tab>
    <mat-tab label="Embalaje">
        <app-packaging></app-packaging>
    </mat-tab>
</mat-tab-group>