<section class="container">
    <form [formGroup]="passFormGrp" #passForm="ngForm" (ngSubmit)="formSubmit()">
        <p>
            <mat-form-field class="full-field">
                <mat-label>Contraseña</mat-label>
                <input type="text" formControlName="password" matInput>
                <mat-hint>{{passFormGrp.controls['password'].value.length}} de 6 caracteres</mat-hint>
                <mat-error *ngIf="passFormGrp.invalid && (passFormGrp.controls['password'].dirty || passFormGrp.controls['password'].touched)">
                    La constraseña es requerida
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <button mat-raised-button color="primary" class="mr-10" [disabled]="passFormGrp.invalid">
                Guardar
            </button>
            <button mat-raised-button color="secondary" (click)="dialogPassRef.close()" type="button">
                Cancelar
            </button>
        </p>
    </form>
</section>