<div class="page-container">
    <section class="edit-section">
        <button mat-raised-button class="mr-10" (click)="showCreateWorkpoint()">Nuevo Puesto</button>
    </section>
    <section *ngIf="dataSource">
        <table 
            mat-table 
            matSort 
            matSortActive="place"
            matSortDirection="asc"
            matSortDisableClear
            [dataSource]="dataSource">
            <ng-container matColumnDef="employee">
                <th mat-header-cell *matHeaderCellDef>Empleado</th>
                <td mat-cell *matCellDef="let workpoint">{{ workpoint?.employee?.firstName }}  {{ workpoint?.employee?.lastName }}</td>
            </ng-container>
            <ng-container matColumnDef="place">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Bloque</th>
                <td mat-cell *matCellDef="let workpoint">{{ workpoint.place }}</td>
            </ng-container>
            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef>Variedad</th>
                <td mat-cell *matCellDef="let workpoint">{{ workpoint.product.name }}</td>
            </ng-container>
            <ng-container matColumnDef="stand">
                <th mat-header-cell *matHeaderCellDef>Mesa</th>
                <td mat-cell *matCellDef="let workpoint">{{ workpoint.stand.name }}</td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let workpoint">
                    <mat-icon aria-hidden="false" aria-label="" fontIcon="edit" (click)="showCreateWorkpoint(workpoint)"
                        class="row-icon"></mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="qr">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let workpoint">
                    <mat-icon aria-hidden="false" aria-label="" fontIcon="qr_code" (click)="showQRModal(workpoint)"
                        class="row-icon"></mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="print">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let workpoint">
                    <mat-icon aria-hidden="false" aria-label="" fontIcon="print" (click)="printQR(qr)"
                        class="row-icon"></mat-icon>
                    <qrcode #qr style="display: none;" [qrdata]="workpoint.id" [allowEmptyString]="true"
                        [alt]="'QR code'" [ariaLabel]="'QR Code image with the following content...'"
                        [cssClass]="'center'" [colorDark]="'#3f51b5'" [colorLight]="'#ffffffff'" [elementType]="'img'"
                        [errorCorrectionLevel]="'M'" [margin]="3" [scale]="1" [title]="'Item'" [width]="300"></qrcode>
                </td>
            </ng-container>
            <ng-container matColumnDef="download">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let workpoint">
                    <mat-icon 
                        aria-hidden="false"
                        fontIcon="download" 
                        (click)="downloadQR(qr)"
                        class="row-icon"></mat-icon>
                    <qrcode #qr style="display: none;" [qrdata]="workpoint.id" [allowEmptyString]="true"
                        [alt]="'QR code'" [ariaLabel]="'QR Code image with the following content...'"
                        [cssClass]="'center'" [colorDark]="'#3f51b5'" [colorLight]="'#ffffffff'" [elementType]="'img'"
                        [errorCorrectionLevel]="'M'" [margin]="3" [scale]="1" [title]="'Item'" [width]="300"></qrcode>
                </td>
            </ng-container>
            <ng-container matColumnDef="remove">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let workpoint">
                    <mat-icon aria-hidden="false" aria-label="" fontIcon="delete" (click)="showRemove(workpoint)"
                        class="row-icon"></mat-icon>
                </td>
            </ng-container>
            <!-- Rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator 
            [pageSizeOptions]="[10, 15, 20]" 
            showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </section>
</div>